body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

:root {
  --border: #808080;
  --spacing: 15px;
}

.btn-cointainer {
  margin-bottom: 620px;
  left: 10%;
  width: 20%;
  height: 5%;
  position: absolute;
  font-family: sans-serif;
}

.controls {
  margin-bottom: 620px;
  right: 0%;
  width: 60%;
  position: absolute;
  font-family: sans-serif;
  font-size: 60%;
  color: grey;
}

.spacing {
  width: 20%;
}

.color-box {
  width: 20%;
}

.light-btn {
  border: 4px solid grey;
  left: -7%;
  cursor: pointer;
  font-size: 75%;
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 3%;
  color: white;
  background-color: black;
}

.dark-btn {
  border: 4px solid grey;
  width: 50%;
  height: 100%;
  cursor: pointer;
  font-size: 75%;
  position: absolute;
  left: 50%;
  padding: 3%;
  color: white;
  background-color: black;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: var(--spacing) solid var(--border);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  background-color: white;
  transform: translate(-25px, -24px);
}

.hour-hand {
  width: 37%;
  height: 15px;
  border-radius: 20%;
  background: rgb(39, 39, 39);
  position: absolute;
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}

.min-hand {
  width: 45%;
  height: 15px;
  border-radius: 20%;
  background: rgb(39, 39, 39);
  position: absolute;
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}

.second-hand {
  width: 60%;
  height: 6px;
  border-radius: 20%;
  background: red;
  position: absolute;
  top: 50.5%;
  right: 35%;
  transform-origin: 75%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.center-round-min {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
  transform: translate(252px, 257px);
}

.center-round-sec {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  transform: translate(256px, 238px);
}

.date-container {
  width: 77%;
  height: 8%;
  position: absolute;
  top: 47%;
  right: 14%;
  color: grey;
  font-family: sans-serif;
}

.day-display {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 70%;
}

.month-display {
  width: 17%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 15%;
}

.date-display {
  width: 13%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
}

.num-cointainer {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: sans-serif;
}

.num1 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 8%;
  right: 19%;
  color: grey;
  font-size: 200%;
}

.num2 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 22%;
  right: 4%;
  color: grey;
  font-size: 200%;
}

.num3 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 43.7%;
  right: -2%;
  color: grey;
  font-size: 200%;
}

.num4 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 63%;
  right: 4%;
  color: grey;
  font-size: 200%;
}

.num5 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 78%;
  right: 19%;
  color: grey;
  font-size: 200%;
}

.num6 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 84%;
  right: 40.5%;
  color: grey;
  font-size: 200%;
}

.num7 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 78%;
  right: 60%;
  color: grey;
  font-size: 200%;
}

.num8 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 64%;
  right: 75%;
  color: grey;
  font-size: 200%;
}

.num9 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 43.7%;
  right: 83%;
  color: grey;
  font-size: 200%;
}

.num10 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 25%;
  right: 78%;
  color: grey;
  font-size: 200%;
}

.num11 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 9%;
  right: 65%;
  color: grey;
  font-size: 200%;
}

.num12 {
  width: 13%;
  height: 10%;
  position: absolute;
  top: 2%;
  right: 44%;
  color: grey;
  font-size: 200%;
}

.hide-slim-lines {
  width: 96%;
  height: 96%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transform: translate(10px, 12px);
}

.hide-fat-lines {
  width: 93%;
  height: 93%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transform: translate(18px, 20px);
}

/* 
.button {
  width: 20px;
  height: 45px;
  position: absolute;
  right: -7%;
  top: 46.5%;
  background-color: grey;
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
  font-size: small;
} */

@media (max-width: 430px) {
  .clock {
    width: 15rem;
    height: 15rem;
    border: var(--spacing) solid var(--border);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
      inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .clock-face {
    position: relative;
    width: 122%;
    height: 122%;
    border-radius: 50%;
    background-color: white;
    transform: translate(-25px, -29px);
  }

  .btn-cointainer {
    margin-bottom: 115%;
    left: 10%;
    width: 25%;
    height: 3%;
    position: absolute;
  }

  .light-btn {
    border: 4px solid grey;
    left: -7%;
    cursor: pointer;
    font-size: 60%;
    width: 50%;
    height: 100%;
    position: absolute;
    padding: 3%;
    color: white;
    background-color: black;
  }

  .dark-btn {
    border: 4px solid grey;
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-size: 60%;
    position: absolute;
    left: 50%;
    padding: 3%;
    color: white;
    background-color: black;
  }

  .controls {
    margin-bottom: 420px;
    right: 0%;
    width: 50%;
    height: auto;
    position: absolute;
    font-family: sans-serif;
    font-size: 60%;
    color: grey;
  }

  .spacing {
    width: 30%;
  }

  .color-box {
    bottom: 100%;
    width: 20%;
  }

  .hour-hand {
    width: 37%;
    height: 10px;
    border-radius: 20%;
    background: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
  }

  .min-hand {
    width: 45%;
    height: 10px;
    border-radius: 20%;
    background: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
  }

  .second-hand {
    width: 62%;
    height: 4px;
    border-radius: 20%;
    background: red;
    position: absolute;
    top: 51.7%;
    right: 34.5%;
    transform-origin: 75%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }

  .center-round-min {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: black;
    transform: translate(138px, 143px);
  }

  .center-round-sec {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: red;
    transform: translate(140.5px, 130.5px);
  }

  .date-container {
    width: 73%;
    height: 8%;
    position: absolute;
    top: 47%;
    right: 16%;
    color: grey;
    font-family: sans-serif;
    font-size: 60%;
  }

  .num-cointainer {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 60%;
    font-family: sans-serif;
  }

  .hide-slim-lines {
    width: 96%;
    height: 96%;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    transform: translate(7px, 8px);
  }

  .hide-fat-lines {
    width: 93%;
    height: 93%;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    transform: translate(10px, 14px);
  }

  /* .button {
    width: 15px;
    height: 35px;
    position: absolute;
    right: -7.5%;
    top: 45.5%;
    background-color: grey;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: small;
  } */
}
